/*
    HEADER ---------------------------------------------------------------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------------------------
*/
header {
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

#slideshow * {
    box-sizing: border-box;
}

#slideshow {
    width: 90%;
    margin: auto;
    position: relative;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;    
    max-height: 750px;
    overflow: hidden;
}

.slides img {
    width: 90%;
}

.filter {
    width: 90%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
}

.slides_text {
    position: absolute;
    font-size: 2em;
    width: 80%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.next_button, .previous_button {
    cursor: pointer;
    position: absolute;
    font-size: 3em;
    top: 50%;
    padding: 16px;
    margin-top: -44px;
    background: rgba(0,0,0,0.5);
    color: rgb(255,255,255);
    transition: 0.5s ease;
}

.previous_button {
    left: 5%;
}

.next_button {
    right: 5%;
}

.next_button:hover, .previous_button:hover {
    background: rgba(0,0,0,1);
}

#play-pause_button {
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left: -24px;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    border-radius: 23px;
    height: 44px;
    width: 44px;
    transition: 0.5s ease;
}

#play-pause_button:hover {
    background: rgba(0,0,0,1);
    color: rgb(255,255,255);
}

#play-pause_button i {
    position: relative;
    top: -3px;
    left: -2px;
}

/*
    MAIN ------------------------------------------------------------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------------------------------------------------------------
*/
#main {
    display: flex;
    justify-content: space-around;
}

#map {
    width: 69%;
    height: 600px;
}

aside {
    width: 29%;
    border: solid 1px black;
}

#reservation {
    display: none;
}